*{
    box-sizing: border-box;
}


.d-flex{
    display: flex;
}
.box{
    border: 2px solid black;
    height: 300px;
    width: 25%;
    border-radius: 5%;

}
.parent{
    flex-wrap: wrap;
    width: 100vw;
}

/* phones */
@media (max-width:600px) {
    .box{
        width: 80%;
    }
}
/* big phone and small tab */
@media (min-width:600px) and (max-width:992px) {
    .box{
        width: 50%;
    }
}


